@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --luna-color-1: #9046ff;
  --luna-color-2: #410482;
  --luna-color-3: #3a0860;
  --luna-color-bg: #18091e;
  --luna-light: #b199cb;
  --text-color: #fff;
}

body {
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-auto-rows: 100vh;
}

.side-tray {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--luna-light);
  background: linear-gradient(var(--luna-color-bg), var(--luna-color-1));
}

.main-window {
  color: var(--text-color);
  background-color: var(--luna-color-bg);
}

.arrow-wrap {
  position: relative;
  width: 100%;
  margin-top: 30px;
  height: 1.5rem;
}

.feature-arrows a .fas {
  font-size: 3rem;
}

.fa-chevron-left,
.fa-chevron-right {
  position: absolute;
  font-size: 1.5rem;
}

.fa-chevron-left {
  left: 10px;
}

.fa-chevron-right {
  right: 10px;
}

.side-tray > div:not(:first-child) {
  margin: 20px 0;
}

.side-tray-icon-wrap {
  width: 100%;
}

.side-tray-icon-wrap .fas {
  font-size: 1.75rem;
}

.side-tray-icon-wrap img {
  width: 40%;
}

.side-tray-icon-wrap a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.side-tray-icon-wrap a:link,
.arrow-wrap a:link,
.side-tray-icon-wrap a:visited,
.arrow-wrap a:visited {
  color: inherit;
}

.side-tray-icon-wrap a:hover,
.arrow-wrap a:hover {
  color: #fff;
}

.side-tray-icon-wrap p {
  margin: 0;
}

.side-tray-icon-wrap.active {
  border-left: 5px solid #fff;
}

.icon-text {
  padding-top: 10px;
  font-size: 0.58rem;
}

.profile-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-wrapper {
  width: 40px;
  height: 40px;
  margin-top: auto !important;
}

.feature-window {
  height: 70vh;
  width: 100%;
  background-image: radial-gradient(circle, transparent, var(--luna-color-bg)),
    linear-gradient(rgba(0, 0, 0, 0.6), var(--luna-color-bg) 95%),
    url('./img/saints-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-info {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.feature-logo {
  width: 300px;
  margin: 0 auto;
}

.feature-logo img {
  width: 100%;
}

.feature-text {
  margin: 5px 0;
}

.btn.learn-more {
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn.learn-more:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.crumb-menu {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crumb-menu .fas {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.5rem;
  margin: 0 3px;
  cursor: pointer;
}

.crumb-menu .fas.active {
  font-size: 1.2rem;
  color: #61e3fe;
}
